<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Quantity</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart %}
                    
                    <tr>
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">{{item.name}}</a></h4>
                                <h5 class="media-heading"> by <a href="#">Brand name</a></h5>
                                <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                            </div>
                        </div></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong name="quantity">{{item.price}}</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong name="quantity">{{item.quantity}}</strong></td>
                        <td class="col-sm-1 col-md-1">
                        <button type="button" class="btn btn-success" >
                            <a href="{% url 'cart_add' id item.id %}"><span class="glyphicon glyphicon-add"></span> Add</a>
                        </button>
                        <button type="button" class="btn btn-danger">
                            <a href="{% url 'cart_remove' id item.id %}"><span class="glyphicon glyphicon-remove"></span> Remove</a>
                        </button></td>
                    </tr>
                    {% endfor %}

                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Total</h5></td>
                        <td class="text-right"><h5><strong>{{total}}</strong></h5></td>
                    </tr>
  
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                        </button></td>
                        <td>
                        <button type="button" class="btn btn-success">
                            <a href="{% url 'place_order' id total_int %}">Checkout <span class="glyphicon glyphicon-play"></span></a>
                            
                        </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>